<footer class="footer">
    <div class="container-cuatro">
        <div class="row">
            <div class="col-md-6">
                <p class="roboto-regular-italic">Dirección: El Sauce 2455, La Florida, Santiago, Chile</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="social-icon"><i class="fa-brands fa-instagram fa-3x white"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter fa-3x white"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-facebook fa-3x white"></i></a>
            </div>
        </div>
    </div>
</footer>